
.event {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .date {
    font-size: 16px;
    font-weight: bold;
  }
  
  .time {
    font-size: 14px;
  }
  
  
  .eventTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #007bff; 
  }
  
  .event-description {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
  }
  