.navbar {
    background-color: #9BB8CD;
    padding: 2px;
}
.navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    color: white;
}
.navbar a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #F97B22;
}