.navbar {
    background-color: transparent;
    padding: 2px;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}
.navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    color: white;
    float: right;
    margin-right: 3%;
}
.navbar a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
    padding: 14px 16px;
}

.navbar a:hover {
    color: maroon;
}

