.about-us-container {
    max-width: 800px;
    min-height: 100vh;
    margin: 0 auto;
    /*padding: 20px;*/
    padding-top: 60px;
    text-align: center;
  }


.history-title{
    color: maroon;
    font-family: serif;
    text-align: center;
    padding: 0;
    overflow: hidden;
}

p{

    text-align: center;
    color: black;
    padding: 0 0 40px 0;
    font-size: 17px;
    font-family: serif;
    font-weight: 550;
    line-height: 1.4;
}