.about-us-container {
    /* Image CSS*/
    background-image: url(../images/Painted_Edit4.PNG);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    opacity: .85;
    background-attachment: fixed; 
}

.paragraph{
    max-width: 800px;
    min-height: 100vh;
    margin: 0 auto;
    /*padding: 20px;*/
    padding-top: 55px;
    color:darkgray;

}


.history-title{
    color: maroon;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    padding: 0 0 35px 0;
    overflow: hidden;
}

p{

    text-align: center;
    color: black;
    padding: 0 0 25px 0;
    font-size: 16px;
    font-family: Helvetica;
    font-weight: 550;
    line-height: 1.4;
}