.admin-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FEE8B0;
}
form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    background: white;
    width: 70%;
    height: 80%;
}

input {
    outline: none;
    padding: 3px;
}
button {
    background: black;
    color: white;
    padding: 2px 5px;
    border-radius: 15%;
}
button:hover {
    background-color: chartreuse;
}