.admin-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6F5F5;
}
form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    background: white;
    width: 70%;
    height: 80%;
}

input {
    outline: none;
    padding: 3px;
}
button {
    background: #FFC95F;
    color: white;
    padding: 5px 10px;
}
button:hover {
    background-color: chartreuse;
}