.events-container {
  margin: 0 auto;
  max-width: 1200px; /* Adjust max-width as needed */
  padding: 20px;
}

.event-page-title {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 20px;
  text-align: center;
  color: black;
}

.events-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.events-list.empty {
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .events-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 576px) {
  .events-list {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
