.admin-dashboard {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.dashboard-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.dashboard-title {
  font-size: 24px;
}

.dashboard-buttons {
  display: flex;
}

.dashboard-button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dashboard-button:last-child {
  margin-right: 0;
}

.events-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}
.user-list{
  background-color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 768px) {
  .events-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
