
html {
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

#welcome-section {
  height: 100vh;
}

.home-container {
  display: block;
  padding-bottom: 4em;
}

.home-text {
    padding-top: 8em;
    padding-left: 10em;
  }

  .home-text h1 {
    font-size: 60px;
    color: maroon;
    margin-left: 3%;
  }

  .home-text .welcome {
    font-size: 40px;
  }

  .home-text .club {
    font-size: 50px;
    color: maroon;
    margin-left: 3%;
  }
  
  .home-text p {
    max-width: 700px;
    font-size: 24px;
    font-weight: normal;
    line-height: 150%;
    margin-left: 5%;
    padding-top: 2em;
  }

  .home-text a {
    font-weight: bold;
    text-decoration: underline;
    color: black;
  }

  .home-text a:hover {
    color: maroon;
  }

  .home-image {
    display: flex;
    padding-left: 3em;
    padding-top: 12em;
    max-width: 1400px;
  }

  .home-image img {
    position: absolute;
    width: 100%;
    max-width: 500px;
    object-fit: cover;
  }

  .img-text {
    display: flex;
    flex-direction: row;
  }

  .gallery-container {
    display: block;
    padding-top: 4em;
  }

  .gallery-text {
    font-size: 24px;
    text-align: center;
  }

  .images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }

  .images img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }

  .images::after {
    content: "";
    width: 350px;
  }

  @media (max-width: 600px) {
    .home-text {
      padding-top: 4em;
      padding-left: 5em;
      max-width: 600px;
    }

    .home-text h1 {
      font-size: 30px;
    }

    .home-text .welcome {
      font-size: 20px;
    }

    .home-text .club {
      font-size: 25px;
    }

    .home-text p {
      font-size: 16px;
    }

    .home-image {
      display: none;
      max-width: 1px;
      max-height: 1px;
      padding: 0 0;
    }

    .home-image img {
      max-width: 1px;
      max-height: 1px;
    }

    .images {
      gap: 4px;
      padding: 10px 5px;
    }

    .images img {
      max-width: 200px;
      height: 175px;
    }
  }

  footer {
    margin-top: auto;
    background: #080202;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  footer p {
    margin: 5px 0;
    color: white;
  }

  footer a {
    color: white;
    text-decoration: underline;
  }

  footer a:hover {
    color: maroon;
  }
  
  .social-media-icons {
    /* Add styles for social media icons */
  }
  

