
html {
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

.home-container {
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
}

.home-text {
    padding-top: 8em;
    padding-left: 10em;
  }

  .home-text h1 {
    font-size: 60px;
    color: maroon;
    margin-left: 3%;
  }

  .home-text .welcome {
    font-size: 40px;
  }

  .home-text .club {
    font-size: 50px;
    color: maroon;
    margin-left: 3%;
  }
  
  .home-text p {
    max-width: 700px;
    font-size: 24px;
    font-weight: normal;
    line-height: 150%;
    margin-left: 5%;
    padding-top: 2em;
  }

  .home-text a {
    font-weight: bold;
    text-decoration: underline;
    color: black;
  }

  .home-text a:hover {
    color: maroon;
  }

  .home-image {
    display: flex;
    padding-left: 8em;
    padding-top: 11em;
  }

  .home-image img {
    position: absolute;
    width: 25%;
    height: 60%;
  }

  .img-text {
    display: flex;
    flex-direction: row;
  }

  .gallery-container {
    /*height: 100vh;*/
  }

  .images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }

  .images img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  @media (max-width: 600px) {
    .home-image img {
      width: 0%;
      height: 0%;
    }

    .images {
      gap: 4px;
      max-width: 400px;
      padding: 2px 1px;
    }

    .images img {
      max-width: 100px;
      height: 80px;
      border-radius: 5px;
    }
    .home-text {
      padding: 0;
      text-align: center;
    }

    .home-text h1 {
      font-size: 25px;
    }

    .home-text .welcome {
      font-size: 20px;
    }

    .home-text .club {
      font-size: 24px;
    }

    .home-text p {
      font-size: 16px;
    }
  }
  footer {
    margin-top: auto;
    background: #080202;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  footer p {
    margin: 5px 0;
    color: white;
  }

  footer a {
    text-decoration: underline;
    color: white;
  }

  footer a:hover {
    color: maroon;
  }
  
  .social-media-icons {
    /* Add styles for social media icons */
  }
  

